# Server Configuration
PORT=8080

# Database Configuration (Postgres)
# Use docker-compose values for local development
DATABASE_URL=postgres://user:password@localhost:5433/urlshortener?sslmode=disable

# Redis Configuration
# Use docker-compose values for local development
REDIS_URL=redis://localhost:6379/0

# JWT Authentication
JWT_SECRET=your_super_secret_key_here

# Frontend URL for CORS
FRONTEND_URL=http://localhost:5173
